body {
    background-color: $primary-500;
}



h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
    letter-spacing: 0.05em;
    color: white;
}

h6 {
    margin-bottom: 0;
    letter-spacing: 0.02em
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        color: $primary-400;
    }
}

p {
    margin-bottom: 0;
    letter-spacing: 0.02em;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    &:hover {
        font-weight: $font-weight-bold;
    }
}