<div class="index-video-area">
    <div class="d-flex">
        <div class="position-relative">
            <!-- <div class="mw-100 mh-100 ratio ratio-16x9">
                <iframe src="https://https://www.youtube.com/watch?v=aYBGV8ssve4&t=535s" title="YouTube video"
                    allowfullscreen></iframe>
            </div> -->
            <video class="ratio ratio-4x3" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source class="object-fit"
                    src="https://videos.pexels.com/video-files/5006156/5006156-uhd_2560_1440_30fps.mp4 "
                    type="video/mp4">
            </video>
            <div class="index-navbar container-xxl px-md-11 px-lg-14 position-absolute top-0 start-0 w-100">
                <div class=" d-flex justify-content-between align-items-center py-4 py-lg-12">
                    <a href="#">
                        <picture>
                            <source media="(max-width: 992px)" srcset="/assets/images/Ocean-Wings-logo-sm.svg">
                            <img src="/assets/images/Ocean-Wings-logo-lg.svg" width="100%" alt="article-banner">
                        </picture>
                    </a>
                    <a class="border-0  d-md-none" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><span
                            class="text-white material-symbols-outlined">
                            menu
                        </span></a>
                </div>
            </div>
        </div>
        <div class="index-header d-none d-xxl-block  pe-14 py-12 text-nowrap ">
            <div class="d-flex align-items-end flex-column mb-3 h-100">
                <div class="p-2">
                    <a class="btn" type="button" href="#">會員登入</a>
                    <a class="btn" type="button" href="#">
                        <span class="fs-3 material-symbols-outlined">
                            shopping_cart
                        </span>
                    </a>
                </div>
                <div class="mt-auto"><a class="btn" type="button" href="#">長板 <span
                            class="fs-3 material-symbols-outlined fs-5 ">
                            arrow_right
                        </span></a></div>
                <div><a class="btn" type="button" href="#">短板 <span class="fs-3 material-symbols-outlined fs-5">
                            arrow_right
                        </span></a></div>
                <div><a class="btn" type="button" href="#">配件 <span class="fs-3 material-symbols-outlined fs-5">
                            arrow_right
                        </span></a></div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-top vh-100 bg-primary-400" tabindex="-1" id="offcanvasTop"
        aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <a href="#">
                <img src="/assets/images/Ocean-Wings-logo-sm.svg" alt="logo">
            </a>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100 d-flex justify-content-center align-items-center">
            <div class="w-100">
                <div>
                    <a class="btn d-block mb-3">長板</a>
                    <a class="btn d-block mb-3">短板</a>
                    <a href="#" class="btn d-block">配件</a>
                </div>
                <hr class="navbar-hr">
                <div>
                    <a class="btn d-block" href="#">購物車</a>
                    <a class="btn d-block">會員登入</a>
                </div>
            </div>

        </div>
    </div>
</div>