.backend {
  .aside {
    height: 100vh;
  }
  .main {
    padding: 0px 40px;

    .appNav {
      position: absolute;
      left: 0px;
      width: 100%;
      z-index: 1000;
    }

    @media (max-width: 768px) {
      padding: 0px 12px;
    }

    .userImage {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    select {
      width: 130px;
    }

    .form-select.bg-primary-400 {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
      font-size: 16px;
    }

    .deleteButton {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .table-responsive-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .tableOverFlow {
      max-height: 724px;
      overflow-y: auto;
    }

    .table-container {
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #6a6a6a;
    }

    .table-container thead th {
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 1;
    }

    .productManager {
      thead th {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #161b26;
        color: white;
        border-bottom: none;
      }

      input {
        width: 24px;
        height: 24px;
        background: #6a6a6a;
        border: #6a6a6a;
      }

      tbody th,
      tbody td {
        min-width: 100px;
        max-width: 205px;
        text-align: center;
        padding-top: 54px;
        padding-bottom: 54px;
        background-color: #1d222c;
        color: white;
      }

      @media (max-width: 1666px) {
        tbody th,
        tbody td {
          min-width: 120px;
        }
      }

      @media (max-width: 1400px) {
        tbody th,
        tbody td {
          min-width: 130px;
        }
      }

      .productDescribe {
        width: 221px;
      }
    }
  }

  .web {
    display: block !important;
  }

  .app {
    display: none !important;
  }

  @media (max-width: 991.98px) {
    .main {
      .table-responsive-wrapper {
        margin-left: -15px;
        margin-right: -15px;
      }

      .table-responsive {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  @media (max-width: 992px) {
    .web {
      display: none !important;
    }

    .app {
      display: block !important;
    }
  }
}
