<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/assets/images/oceanWingsIcon.png" />
  <title>Ocean Wings</title>
</head>

<body>
  <%- include('./layout/header');-%>
    <section class="shopping-entrance">
      <div class=" beginner-entrance pt-14 pt-md-16">
        <div class="container-xxl d-lg-flex align-items-center justify-content-center px-md-11 px-lg-14">
          <h6 class="fs-lg-1 text-white">你還無法起乘嗎？ </h6>
          <div class="d-flex align-items-center">
            <h6 class="fs-lg-1s text-white">要不要來一張</h6>
            <a href="#" class="btn  text-primary-200 rounded-0 fs-lg-1">快樂板<span
                class="fs-3 material-symbols-outlined fs-5 align-text-bottom">
                arrow_right
              </span></a>
          </div>
        </div>
      </div>

      <div class=" d-lg-flex">

        <div class="intermediate-entrance position-relative">
          <div class="container-fluid intermediate-title d-flex align-items-end  position-absolute bottom-0 w-100">
            <div class="py-4">
              <a class="p-0 btn btn-sm d-lg-none" href="#">中階版</a>
              <a class="p-0 btn  btn-lg d-none d-lg-block" href="#">中階版</a>
            </div>
          </div>
        </div>

        <div class="height-end-entrance position-relative">
          <div class="container-fluid height-end-title d-flex align-items-end  position-absolute bottom-0 w-100">
            <div class="py-4 ">
              <a class="p-0 btn btn-sm d-lg-none" href="#">高階版</a>
              <a class="p-0 btn btn-lg d-none d-lg-block" href="#">高階版</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include('./layout/footer');-%>
      <script type="module" src="../main.js"></script>
</body>

</html>